.login-max-box {
  background: linear-gradient(rgb(168, 168, 243), pink);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content-box {
  background-color: rgb(244 244 244);
  background: linear-gradient(rgb(220, 201, 255), rgb(223, 223, 249));
  height: 200px;
  width: 300px;
  border-radius: 5%;
  box-shadow: 10px 10px 50px rgb(138, 134, 166);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 60px;
}
.login-users-info {
  height: 120px;
  width: heritage;
}
.login-input-id {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  width: heritage;
}
.login-input-password {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  width: heritage;
}

.login-button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 30px;
  text-align: center;
}
.login-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
